* {
    margin: 0;
    padding: 0;
}

em, i {
    font-style: normal;
}

a {
    cursor: pointer;
}

li {
    list-style-type: none;
}

.color-link {
    color: #cc0000;
}

.center {
    text-align: center;
}

.mt20 {
    margin-top: 20px;
}

.b {
    font-weight: 900;
}