.sub-button {
    width: 80px;
    height: 30px;
    font-size: 14px;
}

.text-center {
    text-align: center;
}

/* BODY */
.body {
    width: 540px;
    margin: 20px auto;
    position: relative;
}

.main-title {
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 20px;
}

.main-title .title-nav-group i {
    width: 160px;
    height: 40px;
    padding: 5px;
    display: block;
    float: left;
    line-height: 40px;
    text-align: center;
    background-color: #fcde64;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 900;
}

/* MENU */
.no-menu-notice {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin: 50px 0;
    text-align: center;
    display: none;
}

.menu-list {
    width: 100%;
    display: block;
}

.menu-list .menu-food {
    height: 35px;
    display: block;
    margin-top: 15px;
}

.menu-list input {
    margin-left: 20px;
}

/* COMMENT BUTTON */
.comment-button-group {
    width: 100%;
}

.comment-button-group input {
    width: 180px;
    height: 60px;
    font-size: 32px;
    font-weight: 900;
    background-color: #fff08a;
    border: 0px;
    border-radius: 8px;
    line-height: 50px;
    display: block;
    margin: 20px auto;
    box-shadow: -2px 4px #eebe64;
    cursor: pointer;
}

footer {
    margin-top: 30px;
}