<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>午餐吃得怎样</title>
</head>

<body>

    <div id="Body" class="body">

        <div id="MainTitle" class="main-title">
            
            <h1>
                2021.11.17 午餐菜单
            </h1>

        </div>

        <div id="MenuList" class="menu-list">

            <h3>
                今日菜单：
            </h3>

            <ul>
            </ul>

        </div>

        <div id="MainNotice" class="main-notice">

            <h3>用餐安排：</h3>

            <p>第一组：11：45, 2层、3层（A区、B区）的小伙伴</p>
            <p>第二组：11：50, C301</p>
            <p>第三组：12：10, 3层品牌文创、4层、5层的小伙伴</p>

        </div>
        

    </div>

    <script src="./out/bundle.js"></script>
</body>

</html>