<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>真有趣午餐评价</title>
    <style>
        i {
            font-style: normal;
        }
        li {
            list-style-type: none;
        }
        .body {
            width: 540px;
            margin: 0 auto;
            border: 2px solid #CC0000;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>

<body id="Home">

    <div id="Body" class="body">

        <div id="Nav">
            <h1 class="text-center">
                真有趣午餐评价
            </h1>
        </div>

        <div id="MainTitle" class="main-title">
            
            <h3 class="text-center">
                2000-01-01 午餐菜单
            </h3>

        </div>

        <div id="MenuList" class="menu-list">

            <ul>
                <li class="menu-food" foodId="">
                    <i>红烧鱼(提供方:小厨房)</i>
                    <input type="button" value="评价">
                </li>
            </ul>

        </div>

        <div id="MainNotice" class="main-notice">

            <h3>用餐安排：</h3>

            <p>第一组：11：45, 2层、3层（A区、B区）的小伙伴</p>
            <p>第二组：11：50, C301</p>
            <p>第三组：12：10, 3层品牌文创、4层、5层的小伙伴</p>

        </div>
        
        <footer class="text-center">
            <p>非商业用途，如有侵权请联系作者<br>
                杰克有茶 / chenwan@xmfunny.com</p>
        </footer>

    </div>

    

    <script src="./out/bundle.js"></script>
</body>

</html>